@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        /*transform: translateY(100%);*/
    }
}

.notification {
    animation: fadeIn 0.2s ease-out, fadeOut 0.2s ease-in 2s forwards;
}